
    <!--headings  -->

    <div class="row">
        <div class= "col-sm-12">
        <h1>Project Starter</h1>
        </div>
    </div>

    <div class= "row">
        <div class= "col-sm-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class= "container" id= "navigation">
            <a class="navbar-brand" href="/user/create">Create</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/{{log}}">{{log}}</a>
                </li>
              </ul>
              <select id="category" class="custom-select">
                    <option selected>Project Category</option>
                    <option value="1">Technology</option>
                    <option value="2">Charity</option>
                    <option value="3">Food / Beverage</option>
                    <option value="4">Health / Fitness</option>
                    <option value="5">Outdoors</option>
                </select>
            </div>
            </div>
          </nav>
          </div>
          <!-- closes column -->
          </div>
          <!-- closes div row -->

          <br><br>

        
          <div class= "container">
              <div class= "row">
                {{#each projects}}
                    <div class= "col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><a href = "/projects/{{this.id}}">{{this.title}}</a></h5>
                                <p class="card-text">{{this.shortDesc}}</p>
                                <p class="card-text">Created By: <a href="/users/{{this.user.id}}" >{{this.user.firstName}} {{this.user.lastName}}</a></p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

          </div> <!-- closes container -->

